@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBlue{
  background-image: linear-gradient(to right,rgb(125,211,252),rgb(125,211,252));
  border: 2px dashed white;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  letter-spacing: 2px;
  color: wheat;
}